/* PC、スマホ共通のスタイル */
*{
    box-sizing: border-box;
}
body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
    max-width: 1080px;
    margin: auto 0;
}
header {
    display: flex;
    justify-content: space-between;
}
p {
    font-size: 15px;
}

header .nav-pc {
    font-size: 14px;
    display: flex;
}
.nav-pc ul {
    padding-left: 0;
    list-style: none;
    display: flex;
}
.nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color: #0d0d0d;
}
.nav-pc a:hover {
    text-decoration: underline;
}
#main-visual {
    position: relative;
    height: 400px;
}
#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2710d5;
    color: #ffffff;
    border-radius: 0 0 476px 0;
    max-width: 620px;
    height: 100%;
    width: 100%;
    z-index: 11;
}
#main-message > h1 {
    font-size: 60px;
    margin: 100px 0 0 50px;
}
#main-message > p {
    font-size: 28px;
    margin: 0 0 0 50px;
}
#main-visual > img {
    max-width: 620px;
    border-radius: 476px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

